{%   extends 'layout.html'       %}
{% block content  %}
<style>
    .container{

    padding:2%;
    display:flex;
    align-items:center;
    justify-content:center;

    }
    .card{
    font-size:1em;
    width:700px;
    padding:2%;
    }
    .bg-modal{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.4);
    position:absolute;
    top:0;
    display:none;
    justify-content:center;
    align-items:center;
    }
    .modal-content{
    width:300px;
    height:300px;
    background-color:white;
    position:relative;
    }
    .close{
    position:absolute;
    top:0;
    right:14px;
    font-weight:bold;
    font-size:42px;
    cursor:pointer;
    }
</style>
<script>
var ele=document.getElementsByClassName("edit");
var modal=document.getElementsByClassName("bg-modal");
for(var i=0;i<ele.length;i++)
{
    ele[i].addEventListener('click',()=>{
        modal.style.display="block";
    })

}

</script>
<div class="container">
    <div class="card">
        <h1><center>User info</center> </h1>
        <table class="table table-secondary table-hover">
            <tr class="table table-dark">
                <th>Username</th>
                <th>Email</th>
                <th>Address</th>
                <th>Options</th>
            </tr>
        {% for entry in entries         %}
            <tr >
                <td >{{entry.username}}</td>
                <td >{{entry.email}}</td>
                <td >{{entry.address}}</td>
                <td><button class="btn btn-info edit" >Edit</button>
                <button id="del" class="btn btn-danger">Delete</button></td>
                </tr>

        {%  endfor     %}


            </table>
    </div>
</div>
<!--<div class="center">-->
<!--    <input type="checkbox" id="click">-->
<!--    <label for="click" class="click-me">edit</label>-->
<!--    <div class="content">-->
<!--        <div class="header">-->
<!--            <h2>Modal Popup</h2>-->
<!--            <label for="click" class="fas fa-times"></label>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="bg-modal">
    <div class="modal-content">
        <div class="close">X</div>
        <h6>Hello there</h6>
    </div>
</div>



























{%  endblock    %}