{%   extends 'layout.html'       %}
{% block content  %}
<style>
    .container{

    padding:2%;
    display:flex;
    align-items:center;
    justify-content:center;

    }
    .card{
    font-size:1em;
    width:500px;
    padding:2%;
    }
</style>
<div class="container">
    <div class="card">

        <h3><center>Login</center></h3>

        <form method="POST" action="">
            <div class="form-group">
            {%  csrf_token    %}
                <div class="m-2">
                   <label>Email:</label>
        {{ form.email(class="form-control form-control-sm" )   }}
                </div>
                 <div class="m-2">
                      <label>Password:</label>
        {{ form.password    }}
                </div>

                 <input type="submit" value="Submit">

                </div>
        </form>

    </div>
</div>
{%  endblock    %}