{%   extends 'layout.html'       %}
{% load crispy_forms_tags %}
{% block content  %}
<style xmlns="http://www.w3.org/1999/html">
    .container{

    padding:2%;
    display:flex;
    align-items:center;
    justify-content:center;

    }
    .card{
    font-size:1em;
    width:500px;
    padding:2%;
    align-items:left;
    justify-content:left;
    }
</style>
<div class="container">
    <div class="card">

        <h3><center>Sign Up</center></h3>
        <form method="POST" action="">
            <div class="form-group">
            {%  csrf_token    %}
            <div class="form-group  m-2">
               {{ form.username|as_crispy_field   }}
            </div>
                <div class="form-group m-2">

        {{ form.email|as_crispy_field   }}
                </div>
                 <div class="form-group m-2">
        {{ form.password|as_crispy_field  }}
                </div>
                 <div class=" form-group m-2">

           {{ form.confirm_password|as_crispy_field   }}

                </div>


                <div class="form-group m-2">

        {{ form.address|as_crispy_field   }}
                </div>

                <div class=" form-group m-2">
                <input type="submit" value="Submit" class="btn btn-dark ">
                </div>
                </div>
        </form>

    </div>
</div>
{%  endblock    %}